@font-face{font-family:socialfont;src: url(font/social_font.ttf);}
.social{font-family:socialfont;}
.blue{background-color:#036; color:#FFF;transform:rotate()}
.medium{padding:20px;font-size:28px;}
.circle{border-radius:50%;}
.blue:hover{background-color:#CCC; color:#333;transition:.8s;}




.square{border-radius:4px;}